@media  (max-width: 991.98px){
    /* body nav .nav_body{
        position: relative;
    } */
    body nav .nav_body{
        justify-content: space-between;
    }
    
    body nav .nav_body .toggol_label{
        z-index: 9999;
        background-color: rgb(255, 255, 255);
        display: block;
        border: 2px solid rgb(56, 58, 56);
        border-radius: 5px;
        width: 34px;
        line-height: 30px;
        text-align: center;
        align-items: center;
    }
    body nav .nav_body .nav_name {
        position: absolute;
        /* position: fixed; */
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.671);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 63VH;
        top: 100px;
        left: 100%;
        text-align: left;
        align-content: flex-start;
        align-items: flex-start;
        padding-top:1em;
        z-index: 1000;
        justify-content: flex-start;
        transition: all ease-in-out 400ms;

    }
    body nav .nav_body .nav_name li {
        text-align: left;
        border-left: none;
        margin-bottom: 1em;
        margin-left: 1em;
        padding: 0px;
    }
    body nav .nav_body .nav_name li a {
        color: #000;
        line-height: 37px;
        border-bottom: 2px solid transparent;
        transform-origin: left;
        transition: all ease-in-out 400ms;
      }
    body nav .nav_body .nav_name li a:hover{
        border-bottom: 2px solid rgb(7, 2, 2);
    }
    body nav .nav_body .nav_toggol:checked ~ .nav_name{
        left: 0%;
        transition: all ease-in-out 400ms;
    }
    
}
/* xs */
@media screen and (max-width: 575.98px){


    /* totthoponji start*/
    #totthoponji {
        margin-bottom: 80px;
    }
    body #totthoponji .container .row .cards_body .row .card p {
        text-align: center;
    }
    body #totthoponji .container .row .cards_body .row {
        padding-bottom: 0px;
    }
    body #totthoponji .container .row .cards_body .left_angle, 
    body #totthoponji .container .row .cards_body .right_angle {
        top: unset;
        bottom: -42px;
    }
    /* totthoponji end*/

    /* sriticaron start*/
    body #sriticaron {
        margin: 60px 0px;
    }
    body #sriticaron .container .row .common_heading .square {
        left: 4px;
    }
    body #sriticaron .container .row .common_heading .quarter_circle {
        left: unset;
        right: 4px;
    }
    body #sriticaron .container .row .sriti_card {
        margin-bottom: 30px;
    }
    body #sriticaron .container .line_1 {
        margin-bottom: 0px;
    }
    body #sriticaron .container .left_angle {
        top: unset;
        left: 60px;
        bottom: -15px;
        
    }
    body #sriticaron .container .right_angle {
        top: unset;
        right: 60px;
        bottom: -15px;
    }
    /* sriticaron end*/

    /* gallery start*/
    body #gallery {
        margin: 80px 0px;
    }
    body #gallery .container .row .common_heading .square {
        left: 0px;
    }
    body #gallery .container .row .common_heading .quarter_circle {
        left: unset;
        right: 0px;
    }
    body #gallery .container .row .gallery_1,
    body #gallery .container .row .row .gallery_2,
    body #gallery .container .row .row .gallery_3,
    body #gallery .container .row .row .gallery_4 {
        height: 300px;
    }
    body #gallery .container .left_angle {
        top: unset;
        left: 60px;
        bottom: -42px;
        
    }
    body #gallery .container .right_angle {
        top: unset;
        right: 60px;
        bottom: -42px;
    }
    /* gallery end*/

    /* poster start */
    #poster{
        margin-bottom: 60px;
    }
    body #poster .container .row .common_heading .square{
        left: 4px;
    }
    body #poster .container .row .common_heading .quarter_circle{
        left: unset;
        right: 4px;
    }
    body #poster .container .row {
        margin: unset;
    }
    body #poster .container .row .common_heading {
        margin-bottom: 10px;
    }
    body #poster .container .row ul li {
        padding: 0px 5px;
    }
    /* poster end */
    /* footer start */
    body #footer .row .line_two,
    body #footer .row .line_three,
    body #footer .row .line_four,
    body #footer .row .line_five {
        border-left: unset;
        padding: 10px 0px 0px 0px;
    }
    /* footer end */
}

/* sm */
@media (min-width: 576px) and (max-width: 767.98px){
    /* totthoponji start*/
    #totthoponji {
        margin-bottom: 80px;
    }
    body #totthoponji .container .row .cards_body .row .card p {
        text-align: center;
    }
    body #totthoponji .container .row .cards_body .row {
        padding-bottom: 0px;
    }
    body #totthoponji .container .row .cards_body .left_angle, 
    body #totthoponji .container .row .cards_body .right_angle {
        top: unset; 
        bottom: -42px;
    }
    /* totthoponji end*/

    /* sriticaron start*/
    body #sriticaron {
        margin: 60px 0px;
    }
    body #sriticaron .container .row .common_heading .square {
        left: 30px;
    }
    body #sriticaron .container .row .common_heading .quarter_circle {
        left: 90px;
    }
    body #sriticaron .container .row .sriti_card {
        margin-bottom: 30px;
    }
    body #sriticaron .container .line_1 {
        margin-bottom: 0px;
    }
    body #sriticaron .container .left_angle {
        top: unset;
        left: 60px;
        bottom: -15px;
        
    }
    body #sriticaron .container .right_angle {
        top: unset;
        right: 60px;
        bottom: -15px;
    }
    /* sriticaron end*/

    /* gallery start*/
    body #gallery {
        margin: 80px 0px;
    }
    body #gallery .container .row .common_heading .square {
        left: 0px;
    }
    body #gallery .container .row .common_heading .quarter_circle {
        left: unset;
        right: 0px;
    }
    body #gallery .container .row .gallery_1,
    body #gallery .container .row .row .gallery_2,
    body #gallery .container .row .row .gallery_3,
    body #gallery .container .row .row .gallery_4 {
        height: 300px;
    }
    body #gallery .container .left_angle {
        top: unset;
        left: 60px;
        bottom: -42px;
        
    }
    body #gallery .container .right_angle {
        top: unset;
        right: 60px;
        bottom: -42px;
    }
    /* gallery end*/

    /* poster start */
    #poster{
        margin-bottom: 60px;
    }
    body #poster .container .row .common_heading .square{
        left: 30px;
    }
    body #poster .container .row .common_heading .quarter_circle{
        left: 90px;
    }
    body #poster .container .row {
        margin: unset;
    }
    body #poster .container .row .common_heading {
        margin-bottom: 10px;
    }
    
    /* poster end */

    /* footer start */
    body #footer .row .line_one,
    body #footer .row .line_two{
        border-left: unset;
        padding: 0px 0px 0px 0px;
    }
    body #footer .row .line_three,
    body #footer .row .line_four,
    body #footer .row .line_five {
        border-left: unset;
        padding: 20px 0px 0px 0px;
    }
    /* footer end */
}
/* md */
@media (min-width: 768px) and (max-width: 991.98px){
    /* sriticaron start*/
    body #sriticaron {
        margin: 80px 0px;
    }
    body #sriticaron .container .left_angle {
        top: unset;
        left: 16px;
        bottom: -40px;
        width: 150px;
        
    }
    body #sriticaron .container .right_angle {
        top: unset;
        right: 16px;
        bottom: -40px;
        width: 150px;
    }
    /* sriticaron end*/
    /* gallery start*/
    body #gallery {
        margin: 80px 0px;
    }
    
    body #gallery .container .left_angle {
        top: unset;
        left: 12px;
        bottom: -40px;
        width: 150px;
        
    }
    body #gallery .container .right_angle {
        top: unset;
        right: 12px;
        bottom: -40px;
        width: 150px;
    }
    /* gallery end*/

    /* poster start */
    body #poster .container .row {
        justify-content: space-evenly;
        margin-bottom: 5px;
    }
    #poster{
        margin-bottom: 60px;
    }
    
    body #poster .container .row {
        margin: unset;
    }
    body #poster .container .row .common_heading {
        margin-bottom: 10px;
    }
    /* poster end */

    /* footer start */
    body #footer .row .line_one,
    body #footer .row .line_two,
    body #footer .row .line_three{
        border-left: unset;
    }
    
    body #footer .row .line_four {
        border-left: unset;
        padding: 20px 20px 0px 0px;
    }
    body #footer .row .line_five{
        border-left: unset;
        padding: 20px 0px 0px 20px;
    }
    body #footer .row .line_five p {
        margin-bottom: 23.5px;
    }
    /* footer end */

}
/* lg */
@media (min-width: 992px) and (max-width: 1199.98px){
    /* sriticaron start*/
    body #sriticaron {
        margin: 80px 0px;
    }
    body #sriticaron .container .left_angle {
        top: unset;
        left: 16px;
        bottom: -40px;
        width: 150px;
        
    }
    body #sriticaron .container .right_angle {
        top: unset;
        right: 16px;
        bottom: -40px;
        width: 150px;
    }
    /* sriticaron end*/
    /* gallery start*/
    body #gallery {
        margin: 80px 0px;
    }
    
    body #gallery .container .left_angle {
        top: unset;
        left: 12px;
        bottom: -40px;
        width: 150px;
        
    }
    body #gallery .container .right_angle {
        top: unset;
        right: 12px;
        bottom: -40px;
        width: 150px;
    }
    /* gallery end*/
     /* poster start */
     #poster{
        margin-bottom: 50px;
    }
    
    body #poster .container .row {
        margin: unset;
    }
    body #poster .container .row .common_heading {
        margin-bottom: 10px;
    }
    /* poster end */
    /* footer start */
    body #footer .row .line_five .news form .subscribe{
        font-size: 5px;
    }
    /* footer end */
}
/* xl */
@media (min-width: 1200px) and (max-width: 1399.98px){}
/* xxl */
@media (min-width: 1400px){}