@media  (max-width: 991.98px){
    /* body nav .nav_body{
        position: relative;
    } */
    body nav {
        background-color: #E6E6E6;
        padding: 5px;
      }
    body nav .nav_body{
        justify-content: space-between;
    }
    
    body nav .nav_body .toggol_label{
        z-index: 9999;
        background-color: rgb(255, 255, 255);
        display: block;
        border: 2px solid rgb(56, 58, 56);
        border-radius: 5px;
        width: 34px;
        line-height: 30px;
        text-align: center;
        align-items: center;
    }
    body nav .nav_body .nav_name {
        position: absolute;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.671);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 62VH;
        top: 182px;
        left: 100%;
        text-align: left;
        align-content: flex-start;
        align-items: flex-start;
        padding-top:1em;
        z-index: 1000;
        justify-content: flex-start;
        transition: all ease-in-out 400ms;

    }
    body nav .nav_body .nav_name li {
        text-align: left;
        border-left: none;
        margin-bottom: 1em;
        margin-left: 1em;
        padding: 0px;
    }
    body nav .nav_body .nav_name li a {
        color: #000;
        line-height: 37px;
        border-bottom: 2px solid transparent;
        transform-origin: left;
        transition: all ease-in-out 400ms;
      }
    body nav .nav_body .nav_name li a:hover{
        border-bottom: 2px solid rgb(7, 2, 2);
    }
    body nav .nav_body .nav_toggol:checked ~ .nav_name{
        left: 0%;
        transition: all ease-in-out 400ms;
    }
    body nav .nav_body .nav_name .line {
        display: none;
    }
    
}
/* xs */
@media screen and (max-width: 575.98px){
    body header h1 {
        font-size: 60px;
        color: var(--brand2);
      }
    body nav .nav_body .nav_name{
        top:160px
    }
    body .column_card p {
        text-align: justify;
    }
    body .column_card .share {
        flex-direction: column;
        gap: 2em;
    }
    body .column_card .share .share_social {
        align-items: flex-start;
        flex-direction: column;
        gap: 1em;
    }
    body .column_card .share .share_social h5 {
        margin-left: 10px;
    }
    body .writer_card h3 {
        text-align: center;
    }
    body .writer_card .writer {
        flex-direction: column;
    }
    body .writer_card .writer .writer_image {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
        margin: 40px 0px 20px 0px;
    }
    body .writer_card .writer h3 {
        margin: 0px;
    }
    body .writer_card .writer .dievider {
        display: none;
    }
    body .writer_card .writer a {
        margin-left: 0px;
    }
    body .writer_card p {
        text-align: justify;
    }
    body #read_more .left_angle {
        width: 100px;
    }
    body #read_more .right_angle {
        width: 100px;
    }
    body #write_you .button_wrap .button h3 {
        font-size: 30px;
        padding: 0px 15px;
    }
    body #write_you .button_wrap .button p i {
        font-size: 40px;
    }
    body #write_you .button_wrap .button p {
        padding-left: 8px;
    }
    /* footer start */
    body #footer .row .line_two,
    body #footer .row .line_three,
    body #footer .row .line_four,
    body #footer .row .line_five {
        border-left: unset;
        padding: 10px 0px 0px 0px;
    }
    /* footer end */
}

/* sm */
@media (min-width: 576px) and (max-width: 767.98px){
    .line_1{
        justify-content: center;
    }
    body .column_card p {
        text-align: justify;
    }
    body .writer_card p {
        text-align: justify;
    }

    /* footer start */
    body #footer .row .line_one,
    body #footer .row .line_two{
        border-left: unset;
        padding: 0px 0px 0px 0px;
    }
    body #footer .row .line_three,
    body #footer .row .line_four,
    body #footer .row .line_five {
        border-left: unset;
        padding: 20px 0px 0px 0px;
    }
    /* footer end */
}
/* md */
@media (min-width: 768px) and (max-width: 991.98px){
    

    /* footer start */
    body #footer .row .line_one,
    body #footer .row .line_two,
    body #footer .row .line_three{
        border-left: unset;
    }
    
    body #footer .row .line_four {
        border-left: unset;
        padding: 20px 20px 0px 0px;
    }
    body #footer .row .line_five{
        border-left: unset;
        padding: 20px 0px 0px 20px;
    }
    body #footer .row .line_five p {
        margin-bottom: 23.5px;
    }
    /* footer end */

}
/* lg */
@media (min-width: 992px) and (max-width: 1199.98px){
    
    /* footer start */
    body #footer .row .line_five .news form .subscribe{
        font-size: 5px;
    }
    /* footer end */
}
/* xl */
@media (min-width: 1200px) and (max-width: 1399.98px){}
/* xxl */
@media (min-width: 1400px){}