html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
body header {
  text-align: center;
  margin: 20px 0px 0px 0px;
}
body header h1 {
  font-family: 'shorif_font';
  font-size: 80px;
  color: var(--brand2);
}
body header h1 span {
  color: #6789E5;
  padding-left: 5px;
}
body nav {
  background-color: #E6E6E6;
  padding: 30px;
}
body nav .nav_body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body nav .nav_body .home {
  text-align: right;
  padding-left: 5px;
}
body nav .nav_body .home a {
  font-size: 35px;
  line-height: 60px;
  width: 63px;
  background-color: #6788e5;
  color: black;
  text-align: center;
  clip-path: polygon(0% 50%, 25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}
body nav .nav_body .toggol_label {
  display: none;
}
body nav .nav_body .nav_toggol {
  display: none;
}
body nav .nav_body .nav_name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 26px;
  font-family: 'solaiman_lipi';
  flex-basis: 92%;
}
body nav .nav_body .nav_name li {
  padding: 0px 20px;
}
body nav .nav_body .nav_name li a {
  color: #000;
}
body nav .nav_body .nav_name .line {
  font-size: 30px;
  padding: 0px;
}
body .column_card {
  font-family: 'solaiman_lipi';
}
body .column_card .image {
  width: 100%;
}
body .column_card .image img {
  width: 100%;
  padding-top: 10px;
}
body .column_card h3 {
  font-size: 30px;
  padding: 5px 0px;
  color: #6789E5;
}
body .column_card h1 {
  font-size: 40px;
  padding: 5px 0px;
}
body .column_card h4 {
  font-size: 25px;
  padding: 5px 0px;
  display: inline-block;
}
body .column_card .dievider {
  border: 1px solid #000;
  display: inline;
  margin: 0px 10px;
  padding-top: 2px;
}
body .column_card p {
  padding-bottom: 20px;
}
body .column_card .share {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 150px;
}
body .column_card .share h3 {
  font-size: 25px;
  color: #000;
  padding-left: 10px;
}
body .column_card .share .share_social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body .column_card .share .share_social h5 {
  font-size: 15px;
}
body .column_card .share .share_social ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body .column_card .share .share_social ul li {
  margin: 0px 10px;
  border-radius: 5px;
}
body .column_card .share .share_social ul li a {
  width: 45px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body .column_card .share .share_social ul li a i {
  line-height: 45px;
  font-size: 28px;
  color: #ffffff;
}
body .column_card .share .share_social ul li:nth-child(1) {
  background: #5F69A7;
}
body .column_card .share .share_social ul li:nth-child(2) {
  background: #7CBFF1;
}
body .column_card .share .share_social ul li:nth-child(3) {
  background: #C94935;
}
body .column_card .share .share_social ul li:nth-child(4) {
  background: #AB2C33;
}
body .writer_card h3 {
  font-size: 50px;
  font-family: 'solaiman_lipi';
  font-weight: bold;
  margin-left: 20px;
}
body .writer_card .writer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body .writer_card .writer .writer_image {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin: 40px 40px 40px 0px;
}
body .writer_card .writer .writer_image img {
  width: 100%;
  height: 100%;
}
body .writer_card .writer h3 {
  font-size: 60px;
  margin-right: 10px;
}
body .writer_card .writer .dievider {
  border: 1px solid #000;
  display: inline;
  margin: 0px 10px;
  padding-top: 2px;
  padding: 25px 0px;
}
body .writer_card .writer a {
  font-size: 30px;
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
body .writer_card p {
  font-size: 15px;
  font-family: sans-serif;
}
body #montobbo {
  margin: 80px 0px;
}
body #montobbo h3 {
  font-size: 22px;
  color: #ffffff;
  background-color: #F7931E;
  display: inline-block;
  padding: 5px 50px 0px 20px;
  border-radius: 0px 20px 0px 0px;
}
body #montobbo .montobbo_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
body #montobbo .montobbo_form input {
  width: 100%;
  border: 3px solid #5A5A5A;
  padding: 5px 20px;
  font-size: 30px;
  margin: 10px 0px;
  font-family: sans-serif;
}
body #montobbo .montobbo_form .montobbo_text {
  padding: 25px 20px;
  margin: 0px 0px 10px 0px;
  font-family: sans-serif;
}
body #montobbo .montobbo_form input::placeholder {
  opacity: 0.5;
  color: #5A5A5A;
  font-family: sans-serif;
}
body #montobbo .montobbo_form button {
  font-family: sans-serif;
  margin-top: 20px;
  width: auto;
  color: #ffffff;
  text-transform: capitalize;
  background-color: #39B54A;
  padding: 5px 30px;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #575555;
}
body #read_more h3 {
  font-size: 25px;
  padding: 25px 0px;
  text-align: center;
  font-family: 'solaiman_lipi';
}
body #read_more .sriti_card {
  background-color: #ffffff;
  align-items: center;
  border-radius: 0px;
  text-align: center;
}
body #read_more .sriti_card .image {
  height: 230px;
  width: 100%;
  border-radius: 50%;
}
body #read_more .sriti_card .image img {
  height: 100%;
  width: 100%;
}
body #read_more .sriti_card h3 {
  font-size: 20px;
  line-height: 20px;
  font-family: 'solaiman_lipi';
  font-weight: 400;
  padding: 10px 0px;
  color: black;
}
body #read_more .sriti_card p {
  font-size: 11px;
  line-height: 15px;
  font-family: 'solaiman_lipi';
  font-weight: 600;
  color: black;
  text-align: justify;
  margin-bottom: 10px;
  text-align: center;
}
body #read_more .sriti_card a {
  font-size: 20px;
  line-height: 20px;
  font-family: 'solaiman_lipi';
  font-weight: 400;
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 50px;
}
body #read_more .left_angle {
  position: absolute;
  left: 16px;
  bottom: -40px;
  width: 150px;
  background-color: #CCCCCC;
  font-size: 20px;
  line-height: 35px;
  border-radius: 10px;
}
body #read_more .right_angle {
  position: absolute;
  right: 16px;
  bottom: -40px;
  width: 150px;
  background-color: #CCCCCC;
  font-size: 20px;
  line-height: 35px;
  border-radius: 10px;
}
body #write_you {
  margin: 100px 0px;
}
body #write_you .button_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body #write_you .button_wrap .button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #22B573;
  border-radius: 5px;
}
body #write_you .button_wrap .button h3 {
  font-size: 50px;
  font-family: 'solaiman_lipi';
  padding: 0px 20px;
  width: auto;
  color: #ffffff;
}
body #write_you .button_wrap .button p {
  padding-left: 30px;
  width: auto;
}
body #write_you .button_wrap .button p i {
  font-size: 60px;
  color: #ffffff;
}
body #footer {
  background-color: var(--brand2);
}
body #footer .discription {
  padding: 70px 45px 40px 45px;
}
body #footer .row .line_one p {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-family: 'solaiman_lipi';
}
body #footer .row .line_two {
  border-left: 1px solid #ffffff;
  height: 100%;
  padding: 0px 20px 0px 20px;
}
body #footer .row .line_two p {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-family: 'solaiman_lipi';
}
body #footer .row .line_three {
  border-left: 1px solid #ffffff;
  height: 100%;
  padding: 0px 20px 0px 20px;
}
body #footer .row .line_three p {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-family: 'solaiman_lipi';
}
body #footer .row .line_four {
  border-left: 1px solid #ffffff;
  height: 100%;
  padding: 0px 20px 0px 20px;
}
body #footer .row .line_four p {
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  font-family: 'solaiman_lipi';
  margin-bottom: 15px;
}
body #footer .row .line_four .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
body #footer .row .line_four .social li a i {
  color: #243152;
  font-size: 30px;
  line-height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #ffffff;
}
body #footer .row .line_five {
  border-left: 1px solid #ffffff;
  height: 100%;
  padding: 0px 20px 0px 20px;
}
body #footer .row .line_five p {
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  font-family: 'solaiman_lipi';
  margin-bottom: 15px;
}
body #footer .row .line_five .news form {
  position: relative;
  display: inline-flex;
}
body #footer .row .line_five .news form input {
  width: 80%;
  padding: 5px 22px;
  border-radius: 5px 0px 0px 5px;
}
body #footer .row .line_five .news form .subscribe {
  width: 20%;
  color: #ffffff;
  font-size: 7px;
  background-color: #0071BC;
  border-radius: 0px 5px 5px 0px;
}
body #footer .row .line_five .news form .envelope {
  position: absolute;
  color: #0071BC;
  font-size: 16px;
  top: 20%;
  left: 6px;
  line-height: 14px;
  background-color: #ffffff;
}
body #footer .row .copy {
  color: #ffffff;
  font-size: 18px;
  line-height: 18px;
  font-family: 'solaiman_lipi';
  text-align: center;
  padding: 20px 0px;
}
