:root{
    --pg:#000100;
    --brand1:#ef5c6e;
    --brand2:#1a358d;
    --white:#ffffff;
    --black:#807a96;
    --border:1px solid red;
}

p{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    font-family: "open-sans-regular";
}


@font-face {
    font-family: 'solaiman_lipi_bold';
    src: url('../fonts/solaimanlipi/SolaimanLipi_Bold_10-03-12.ttf');
}

@font-face {
    font-family: 'solaiman_lipi';
    src: url('../fonts/solaimanlipi/SolaimanLipi_22-02-2012.ttf');
}
@font-face {
    font-family: 'shorif_font';
    src: url('../fonts/shorif_font/唳嗋Ξ唳距Π\ 唳唳傕Σ唳�\ Tech\ Sayod41.ttf');
}

@keyframes up_down{
    form{
        top: 0px;
    }
    to{
        top: 5px;
    }
    
}
